# =============================
# Python cache files
# =============================
__pycache__/
*.pyc
*.pyo

# =============================
# PyInstaller build artifacts
# =============================
build/
dist/
*.spec

# =============================
# Virtual environments
# =============================
venv/
.env/

# =============================
# OS & Editor files
# =============================
.DS_Store
Thumbs.db
.idea/
.vscode/
